.form-checker {
	border: none;
	border-radius: 20px;
	padding: 5px;
	background-color: #e9e9e9;
	font-size: medium;
	max-width: 1000px;
	max-height: 100px;
}
.form-checker:focus {
	outline-color: white;
}
.form-control-label {
	--input-focus: #2d8cf0;
	--font-color: #323232;
	--font-color-sub: #666;
	--bg-color: #fff;
	--main-color: #1B4552;
	font-size: 10px;
	color: var(--font-color);
}
.form-control {
	--input-focus: #2d8cf0;
	--font-color: #323232;
	--font-color-sub: #666;
	--bg-color: #fff;
	--main-color: #1B4552;
	border-radius: 5px;
	background-color: var(--bg-color);
	box-shadow: 2px 2px var(--main-color);
	font-size: 10px;
	color: var(--font-color);
	padding: 5px 5px;
	outline: none;
}
.form-control::placeholder {
	color: var(--font-color-sub);
	opacity: 0.8;
}
.form-control:focus {
	border: 2px solid var(--input-focus);
}
.form-group {
	font-size: 5px;
	color: #010101;
}
